* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(js/boxsizing.htc);
    outline: none
}

@font-face {
    font-family: 'oleoscript';
    src: url(fonts/oleoscript-regular-webfont.eot);
    src: url(fonts/oleoscript-regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/oleoscript-regular-webfont.woff2) format("woff2"), url(fonts/oleoscript-regular-webfont.woff) format("woff"), url(fonts/oleoscript-regular-webfont.ttf) format("truetype"), url(fonts/oleoscript-regular-webfont.svg#oswaldbook) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'lato';
    src: url(fonts/lato-regular-webfont.eot);
    src: url(fonts/lato-regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/lato-regular-webfont.woff2) format("woff2"), url(fonts/lato-regular-webfont.woff) format("woff"), url(fonts/lato-regular-webfont.ttf) format("truetype"), url(fonts/lato-regular-webfont.svg#oswaldbook) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'lato';
    src: url(fonts/lato-bold-webfont.eot);
    src: url(fonts/lato-bold-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/lato-bold-webfont.woff2) format("woff2"), url(fonts/lato-bold-webfont.woff) format("woff"), url(fonts/lato-bold-webfont.ttf) format("truetype"), url(fonts/lato-bold-webfont.svg#oswaldbook) format("svg");
    font-weight: 700;
    font-style: normal
}

.oleo {
    font-family: 'oleoscript';
    font-weight: 400
}

.lato {
    font-family: 'lato';
    font-weight: 400
}

.latobold {
    font-family: 'lato';
    font-weight: 700
}

.font14 {
    font-size: 14px
}

.font16 {
    font-size: 16px
}

.font17 {
    font-size: 17px
}

.font18 {
    font-size: 18px
}

.font20 {
    font-size: 20px
}

.font30 {
    font-size: 30px
}

.font34 {
    font-size: 34px
}

.font40 {
    font-size: 40px
}

section,
header,
footer,
figure,
article,
aside,
nav,
main {
    display: block
}

a,
a *,
button,
button * {
    transition: all .25s ease-in-out;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    outline: 0
}

a img {
    border: 0
}

img,
svg {
    vertical-align: middle;
    border: none
}

ul,
li {
    list-style-type: none
}

p {
    line-height: 1.5
}

.width960 {
    margin: auto;
    width: 960px;
    position: relative;
    z-index: 5
}

.width720 {
    margin: auto;
    width: 720px
}

.uppercase {
    text-transform: uppercase
}

.center {
    text-align: center
}

.bouton {
    background-color: transparent;
    min-width: 150px;
    padding: 10px 20px;
    border: 3px solid #5aaa46;
    border-radius: 25px
}

.bouton:hover {
    color: #fff;
    background-color: #5aaa46
}

.mb40 {
    margin-bottom: 40px
}

.mb25 {
    margin-bottom: 25px
}

.placeholder {
    color: #3daa42;
    opacity: 1
}

::-webkit-input-placeholder {
    color: #3daa42;
    opacity: 1
}

::-moz-placeholder {
    color: #3daa42;
    opacity: 1
}

::-ms-placeholder {
    color: #3daa42;
    opacity: 1
}

::-ms-input-placeholder {
    color: #3daa42;
    opacity: 1
}

:-ms-input-placeholder {
    color: #3daa42;
    opacity: 1
}

.blanc {
    color: #fff
}

.vertclair {
    color: #96c864
}

.vertfonce {
    color: #5aaa46
}

.noir {
    color: #3c3c3c
}

.bgblanc {
    background: #fff
}

.bggris {
    background: #f2f2f2
}

.bgvert {
    background: #96c864
}

.bgnoir {
    background: #3c3c3c
}

.bgsimu {
    background: #f2f6fd
}

body {
    min-width: 960px;
    background: #fff;
    font-family: 'lato', sans-serif
}

header.h490 {
    height: 490px
}

header.h370 {
    height: 370px
}

header.bg-cuisine {
    background: url(images/header-cuisine2.jpg) no-repeat center top #3c3c3c;
    background-size: cover
}

header.bg-boulangerie {
    background: url(images/header-boulangerie.jpg) no-repeat center top #3c3c3c;
    background-size: cover
}
header.bg-mentions {
    background: url(images/header-mentions.jpg) no-repeat center top #3c3c3c;
    background-size: cover
}

#header-top {
    padding-top: 20px
}

#header-top>a {
    display: inline-block
}

header nav {
    width: 600px;
    float: right
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px
}

nav a {
    padding: 12px 0
}

header nav .active a {
    border-bottom: 4px solid #96c864
}

header nav li:hover a {
    color: #96c864
}

#header-bottom {
    margin-top: 130px;
    position: relative
}

#header-bottom p {
    letter-spacing: 1.1px;
    line-height: 1.2;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8)
}

#header-bottom p+p {
    letter-spacing: 2px
}

#header-bottom img {
    width: 470px;
    position: absolute;
    top: 170px;
    left: 250px
}

h1 span {
    display:inline-block;
    margin-top:-10px;
    vertical-align:top;
    margin-top:5px;
}

#presentation-index,
#form-contact {
    padding: 60px 0
}

#presentation-index {
    background: url(svg/logo-bg-gris.svg) no-repeat 160px -40px #fff;
    background-size: 400px
}

#presentation-concept {
    background: url(svg/logo-bg-gris.svg) no-repeat 255px -150px #fff;
    background-size: 450px
}
#presentation-concept h2 {
    margin:30px 0;
}

#actions {
    background: url(images/bg-vert-boulangerie.jpg) no-repeat center #96c864;
    padding: 30px 0 50px;
    font-size: 0
}

#actions .titre {
    margin:40px 0;
    text-align:center;
}

.action {
    display: inline-block;
    width: 480px;
    padding: 25px
}

.action h2,
.action-concept h2 {
    margin: 10px 0 20px
}

#zoomsur {
    padding: 40px 0 50px;
    position: relative
}

#zoomsur-content {
    padding-left: 530px
}

#zoomsur-content h2 {
    margin: 20px 0 10px
}

#zoomsur-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden
}

#zoomsur-img img {
    float: right;
    height: 100%
}

footer {
    padding: 20px 0 60px
}

footer p {
    display: inline-block;
    width: 320px
}

footer nav .active a {
    color: #96c864
}

footer a:hover {
    opacity: .5
}

footer img {
    vertical-align: top;
    float: right;
    padding-top: 30px
}

#presentation-concept {
    padding: 30px 0 50px
}

#actions-concept {
    background: url(images/bg-vert-boulangerie.jpg) repeat-x center 60px #fff;
    background-size: cover;
    padding-bottom: 60px
}

.action-concept {
    display: flex;
    align-items: center;
    width: 960px;
    padding: 25px 0 35px;
    background-repeat: no-repeat;
    background-size: 128px 156px;
    background-position: 290px -25px
}

.action-concept>div {
    width: 640px;
    padding-right: 40px;
    margin-left: auto
}

.action-concept:nth-child(1) {
    background-image: url(svg/bg1b-01.svg)
}

.action-concept:nth-child(2) {
    background-image: url(svg/bg2b-01.svg)
}

.action-concept:nth-child(3) {
    background-image: url(svg/bg3b-01.svg)
}

.action-concept:nth-child(4) {
    background-image: url(svg/bg4b-01.svg)
}

.action-concept>img {
    margin-left: auto
}

#galerie {
    background: url(images/bg-vert-boulangerie.jpg) repeat-x center #fff;
    background-size: cover
}

#contact div,
#galerie {
    padding: 40px 0 60px
}

#galerie img {
    width: 780px
}

#contact div {
    background: url(svg/logo-bg-gris.svg) 252px -70px no-repeat #fff;
    background-size: 450px
}

.slider h2 {
    margin-top: 20px
}

.slider p {
    margin-bottom: 30px
}

#form-contact {
    display: flex;
    justify-content: space-between;
    background: url(svg/logo-bg-gris.svg) 190px -90px no-repeat #fff;
    background-size: 600px
}

#form-contact #devis-txt {
    width: 640px;
    padding-right: 80px
}

#form-contact #formcontact {
    padding-top: 10px;
    width: 320px;
    text-align:left
}

#formcontact input[type=text],
#formcontact input[type=email],
#formcontact textarea {
    width: 100%;
    height: 40px;
    background: #fff;
    color: #3daa42;
    border: solid 1px #3daa42;
    padding: 0 20px;
    font: 700 14px lato;
    margin-bottom: 8px;
    border-radius: 20px;
    transition: all .35s ease
}

#formcontact textarea {
    height: 140px;
    padding-top: 13px;
    overflow: auto;
    resize: none;
    border-radius: 20px;
    line-height: 1.4
}

#formcontact input[type=text]:focus,
#formcontact input[type=email]:focus,
#formcontact textarea:focus {
    background: #5aaa46;
    color:#fff;
}
#formcontact p {
    display:inline-block;
    vertical-align:top;
    margin:15px 0;
    font-size:12px;
    line-height:15px;
}

#formcontact p.consentement {
    display:inline-block;
    font-size:11px;
    width:80%;
    margin-left:15px;
    transition:all .3s ease;
}
#formcontact p.consentement.error {
    border:solid 1px red;
    padding:10px;
}

#form-contact #merci {
    text-align: center;
    width: 320px;
    margin-top: 180px
}

input:required,
input:invalid {
    box-shadow: none
}

#devis-txt p {
    margin: 14px 0
}

#map {
    position: relative;
    height: auto;
}